---
layout: default
title: Index
nav: index
---
<div class="navlist cols threecols">
  <div>
    <h2>Projects</h2>
    <ul>
      {% for project in site.projects %}
        {% if project.highlighted %}
          <li><a href="{{ project.url }}">{{ project.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="/projects.html">More -&gt;</a></li>
    </ul>
  </div>

  <div>
    <h2>Trips</h2>
    <ul>
      {% for trip in site.trips reversed %}
        {% if trip.highlighted %}
          <li><a href="{{ trip.url }}">{{ trip.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="/trips.html">More -&gt;</a></li>
    </ul>
  </div>

  <div>
    <h2>Notes</h2>
    <ul>
      {% for note in site.notes %}
        {% if note.highlighted %}
          <li><a href="{{ note.url }}">{{ note.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="/notes.html">More -&gt;</a></li>
    </ul>
  </div>
</div>
